<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <style>
        .main-container {
            padding-top: 10px;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-inverse">
        <a class="navbar-brand" href="#">FCM Research</a>
    </nav>

    <div class="main-container container-fluid">
        {{#success}}
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{success}}
        </div>
        {{/success}}

        <form method='post'>
            <div class="form-group{{#error_to}} has-danger{{/error_to}}">
                <label for="to">To</label>
                <select class="form-control" id="to" name="to">
                    {{#subscribers}}
                    <option value="{{id}}">{{username}}</option>
                    {{/subscribers}}
                </select>
                {{#error_to}}
                <div class="form-control-feedback">{{error_to}}</div>
                {{/error_to}}
            </div>
            <div class="form-group{{#error_title}} has-danger{{/error_title}}">
                <label for="title">Title</label>
                <input type="input" class="form-control" id="title" name="title" value="{{title}}">
                {{#error_title}}
                <div class="form-control-feedback">{{error_title}}</div>
                {{/error_title}}
            </div>
            <div class="form-group{{#error_body}} has-danger{{/error_body}}">
                <label for="body">Body</label>
                <textarea class="form-control" id="body" name="body" rows="3">{{body}}</textarea>
                {{#error_body}}
                <div class="form-control-feedback">{{error_body}}</div>
                {{/error_body}}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
  </body>
</html>
